<h1>Create A Note</h1>
<br>

<form action="/notes" method="post">
  <h4><label for="note_name">Note:</label>
  <input type="text" name="note_name" id="note_name" required></h4>
  <br>

  <input type="submit" value="Submit">
</form>

<!-- Footer -->
<br>
<footer>
  <a href="/notes">Notes Home</a> || <a href="/tabs">Tabs Home</a> || <a href="/logout">Log Out</a>
</footer>
