@media screen {
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  .wrapper {
      background: white;
      margin: 10px 10px 1px 1px;
      max-width: 960px;
      padding: 2.25%;
      width: 85%;
    }

/* Biggest - title */
  h1 {
    font-size: 45px;
    line-height: 36px;
    color: #1a0033; /*black purple*/
    font-family: arial black, bold;
    padding: 20px 0px 10px 0px;

  }

/* Flash[:message] */
  h2 {
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 10px;
    font-family: courier new;
    color: #ff6666;
  }


  h3 {
    font-size: 20px;
    line-height: 30px;
    font-family: helvetica;
    color: #1a0033;
  }


  h4 {
    font-size: 12px;
    font-family: arial;
    color: #1a0033;
  }


  h5 {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 40px;
  }

  footer{
    margin-top: 30px;
    font-size: 12px;
  }

  p {
    font-family: monospace;
    color: #8f809a;
    font-size: 12px;
    line-height: 10px;
    margin-bottom: 2px;
  }

  a {
    color: #8f809a;
  }

  a:hover {
    color: #cdc6d2;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%;
  }

  .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%;
    width: 30%;
  }

  .sidebar ul {
    font-size: 14px;
  }

  .branding {
    clear: both;
  }
}


@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }
}
