<h2>Lets Get Tabless!</h2>
<h3>Enter your username and password below:</h3>
<br></br>
<form action="/login" method="POST">

  <label for="name">Username:</label>
  <input type="text" name="name" id="name">
  <br></br>

  <label for="password">Password:</label>
  <input type="password" name="password" id="password">
  <br></br>

  <input type="submit" value="Submit">
</form>
