<h1>Lets Get Tabless!</h1>
<h3>Enter your username and password below:</h3>
<br></br>
<form action="/login" method="POST">

  <h4><label for="name">Username:</label>
  <input type="text" name="name" id="name" required></h4>
  <br>

  <h4><label for="password">Password:</label>
  <input type="password" name="password" id="password" required></h4>
  <br></br>

  <input type="submit" value="Submit">
</form>
