<h1>Create An Account:</h1>
  <br></br>
<form action="/signup" method="POST">

  <h4><label for="name">Username:</label>
  <input type="text" name="name" id="name" required></h4>
  <br>

  <h4><label for="email">Email:</label>
  <input type="email" name="email" id="email" required></h4>
  <br>

  <h4><label for="password">Password:</label>
  <input type="password" name="password" id="password" required></h4>
  <br></br>

  <input type="submit" value="Submit">

</form>
