<h1>Add a Tab</h1>
<br></br>

<!-- Create a New tab - Form -->
<form action="/tabs" method="post">

  <h4><label for="tab_name">Name:</label>
  <input type="text" id="tab_name" name="tab_name" required></h4>
  <br>

  <h4><label for="url">URL:</label>
  <input type="text" name="url" id="url" required></h4>
  <br>

  <h4><label for="notes">Notes:</label>
  <input type="text" name="notes" id="notes" required></h4>
  <br>
  <input type="submit" value="Submit">
</form>

<!-- Footer -->
<br>
<footer>
  <a href="/tabs">Home</a> ||  <a href="/logout">Log Out</a>
</footer>
