<h2>Add a Tab</h2>

<!-- Create a New tab - Form -->
<form action="/tabs" method="post">
  <label for="tab_name">Name:</label>
  <input type="text" id="tab_name" name="tab_name" required>
  <br></br>

  <label for="url">URL:</label>
  <input type="text" name="url" id="url" required>
  <br></br>

  <label for="notes">Notes:</label>
  <input type="text" name="notes" id="notes" required>
  <br></br>

  <input type="submit" value="Submit">
</form>

<!-- Footer -->
<footer>
  <a href="/tabs">Home</a> ||  <a href="/logout">Log Out</a>
</footer>
